<server description="Phonebook Demo Server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>jdbc-4.1</feature>
        <feature>jaxrs-2.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>jpa-2.1</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <applicationMonitor updateTrigger="mbean"/>
    
    <!--  Change the location of mysql-connector-java.jar as per your installation -->
    <variable name="MYSQL_DRIVER_PATH" value="C:/mysql"/>
    <library id="mysqllib">
    	<fileset dir="${MYSQL_DRIVER_PATH}" includes="mysql-connector-java.jar"/>
	</library>
	
    <dataSource id="mysql-datasource" jndiName="jdbc/mydbdatasource">
    	<jdbcDriver libraryRef="mysqllib"/>
    	<!--  Modify as per your DB2 configuration -->
    	<properties databaseName="dbname" portNumber="dbport" serverName="dbhost"/>
	</dataSource>

    <webApplication id="phonebookdemo" location="phonebookdemo.war" name="phonebookdemo"/>
</server>
