<form class = "form-vertical" name="editForm" role="form">

<div class="form-group" ng-class="{error: editForm.title.$invalid && !editForm.title.$pristine}">
    <label for = "title">Title</label>
    <input type="text" name="title" ng-model="entry.title" class="form-control" id = "title" required>
    <span ng-show="editForm.title.$error.required && !editForm.title.$pristine" class="help-inline">
        Required {{editForm.title.$pristine}}</span>
  </div>

  <div class="form-group" ng-class="{error: editForm.firstName.$invalid && !editForm.firstName.$pristine}">
    <label>First Name</label>
    <input type="text" name="firstName" ng-model="entry.firstName" class="form-control" required>
    <span ng-show="editForm.firstName.$error.required && !editForm.firstName.$pristine" class="help-inline">
        Required {{editForm.firstName.$pristine}}</span>
  </div>
 
 <div class="form-group" ng-class="{error: editForm.lastName.$invalid && !editForm.lastName.$pristine}">
    <label>Last Name</label>
    <input type="text" name="lastName" ng-model="entry.lastName" class="form-control" required>
    <span ng-show="editForm.lastName.$error.required && !editForm.lastName.$pristine" class="help-inline">
        Required {{editForm.lastName.$pristine}}</span>
  </div>
  
   <div class="form-group" ng-class="{error: editForm.phoneNumber.$invalid && !editForm.phoneNumber.$pristine}">
    <label>Phone Number</label>
    <input type="text" name="phoneNumber" ng-model="entry.phoneNumber" class="form-control" required>
    <span ng-show="editForm.phoneNumber.$error.required && !editForm.phoneNumber.$pristine" class="help-inline">
        Required {{editForm.phoneNumber.$pristine}}</span>
  </div>
 
  <br>
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="submit()" ng-disabled="editForm.$invalid"
          class="btn btn-primary">Submit</button>
</form>